<launch>
  <arg name="settings" default="$(find hri_planner)/resources/video_processing/general_settings.yaml" />

  <node name="video_processor" pkg="hri_planner" type="video_processor" output="screen">
    <param name="camera_info_file" value="$(find hri_planner)/resources/camera/gopro1440.yml" />
    <param name="hat_tracker_config" value="$(find hri_planner)/resources/video_processing/hat_tracking_one_hat.json" />
    <param name="dictionary" value="ARUCO"/>
    <param name="frame_rate" value="60" />
    <rosparam command="load" file="$(arg settings)" />
  </node>
</launch>
