<launch>
  <arg name="settings_hp" default="$(find hri_planner)/resources/planner_setting/exp_settings_hp.yaml" />
  <arg name="settings_rp" default="$(find hri_planner)/resources/planner_setting/exp_settings_rp.yaml" />
  <arg name="exp_id" default="test0" />
  <arg name="cond" default="0" />
  <arg name="baseline" default="false" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz">
    <remap from="/move_base_simple/goal" to="/rviz_navigation_goal"/>
  </node>

  <rosparam command="load" file="$(arg settings_hp)" ns="hp"/>
  <rosparam command="load" file="$(arg settings_rp)" ns="rp"/>

  <node name="experiment_manager" pkg="hri_planner" type="experiment_manager.py" output="screen">
    <param name="protocol_file" value="$(find hri_planner)/resources/exp_protocols/protocol$(arg cond).txt"/>
	<param name="save_path" value="$(env HOME)/Documents/hri_log/exp_data/$(arg exp_id)"/>
    <param name="run_baseline_planner" value="$(arg baseline)" />
    <remap from="/planner/communication" to="/haptic_control" />
  </node>
</launch>
