<launch>
  <arg name="settings" default="$(find hri_planner)/resources/planner_setting/test_settings_common.yaml" />
  <arg name="settings_hp" default="$(find hri_planner)/resources/planner_setting/test_settings_hp.yaml" />
  <arg name="settings_rp" default="$(find hri_planner)/resources/planner_setting/test_settings_rp.yaml" />
  <arg name="explicit_comm" default="true" />

  <rosparam command="load" file="$(arg settings_hp)" ns="hp"/>
  <rosparam command="load" file="$(arg settings_rp)" ns="rp"/>

  <node name="planner_node" pkg="hri_planner" type="planner_node" output="screen">
    <rosparam command="load" file="$(arg settings)" />
    <param name="allow_explicit_comm" value="$(arg explicit_comm)" />
  </node>
</launch>
